<section id="contactos" class="contactos">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
      			<h3 class="well">Contáctenos</h3>
     		</div>
		    <div class="col-md-6">
		      <li><a href="httlis://twitter.com/fsoceh"><i class="fa fa-twitter fa-2x"></i></a> @fsoceh</li>
		      <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a> Valledupar - Cesar</li>
		      <li><a href="https://plus.google.com/u/0/115366135496113431621"><i class="fa fa-google-plus fa-2x"></i></a> google+</li>
		      <li><i class="fa fa-envelope fa-2x"></i> ong@soceh.org</li>
		      <li><i class="fa fa-phone fa-2x"></i> (5) 5736553</li>
		      <li><i class="fa fa-map-marker fa-2x"></i> Valledupar - Cesar</li>
		    </div>
 		</div>
  	</div>
</section>

---old---
<section id="contactos" class="contactos">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
      			<h3 class="well">Contáctenos</h3>
     		</div>
		    <div class="col-md-6">
		      <p><a href="https://twitter.com/fsoceh"><i class="fa fa-twitter fa-2x"></i></a> @fsoceh</p>
		      <p><a href="#"><i class="fa fa-facebook fa-2x"></i></a> Valledupar - Cesar</p>
		      <p><a href="https://plus.google.com/u/0/115366135496113431621"><i class="fa fa-google-plus fa-2x"></i></a> google+</p>
		      <p><i class="fa fa-envelope fa-2x"></i> ong@soceh.org</p>
		      <p><i class="fa fa-phone fa-2x"></i> (5) 5736553</p>
		      <p><i class="fa fa-map-marker fa-2x"></i> Valledupar - Cesar</p>
		    </div>
		    <div class="col-md-6">
		      <form>
		        <div class="form_details">
		          <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
		          <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
		          <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
		          <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mensaje</textarea>
		          <div class="clearfix"> </div>
		          <button class="btn" type="submit">Enviar Mensaje</button>
		        </div>
		      </form>
		    </div>
 		</div>
  	</div>
</section>



<section id="about">
<div class="row">
  <div class="col-md-6"> <%= image_tag "about2.jpg", class:"img-responsive" %> </div>
  <div class="col-md-6">
    <h2>Nosotros</span></h2>
    <hr class="my-3">
    <p class="text-justify">Somos una organización sin animo de lucro, que  construye iniciativas sociales sostenibles al servicio de las poblaciones con alto índice de necesidades básicas insatisfechas.</p>
    <p class="text-justify">Nuestro compromiso es y será fortalecer el desarrollo de las comunidades vulnerables y la participación abierta para una etapa de afianzamiento, renovación y prosperidad.</p>
  </div>