<br>
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <address>
          <strong>Fundación SOCEH</strong><br>
          <abbr title="Phone">P:</abbr> (095) 5736553 <br>
          Valledupar - Cesar (Colombia)<br>
        </address>
      </div>    
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <strong>Legal</strong><br>
          <li>Privacidad</li>
          <li>Condiciones de Uso</li>
        </ul>
      </div>
      <div class=" col-sm-4">
        <ul class="list-unstyled">
          <strong>Social</strong><br>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>       
      </div>
    </div>
  </div>
</footer>