<br>
<div class="col-sm-12">
  <p class="text-justify blockquote">Somos una organización sin animo de lucro, que  construye iniciativas sociales sostenibles al servicio de las poblaciones con alto índice de necesidades básicas insatisfechas.</p>
</div>
<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="card card-outline-primary">
      <div class="card-block">
        <h4 class="card-title">Sinergia con el Estado</h4>
        <p class="card-text">Asesoría en diseño, planeación y control de políticas públicas</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card card-outline-success">
      <div class="card-block">
        <h4 class="card-title">Educación para la Vida</h4>
        <p class="card-text">Programas institucionales de cultura y emprendimiento</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card card-outline-warning">
      <div class="card-block">
        <h4 class="card-title">Enfoque de Género</h4>
        <p class="card-text">Asistencia social para la equidad de las mujeres</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card card-outline-danger">
      <div class="card-block">
        <h4 class="card-title">Primera Infancia</h4>
        <p class="card-text">Formación de agentes educativos y madres comunitarias</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Productividad y Trabajo</h4>
        <p class="card-text">Acompañamiento en proyectos de generación de ingresos</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card card-outline-info">
      <div class="card-block">
        <h4 class="card-title">Tolerancia y Paz</h4>
        <p class="card-text">Sensibilización y talleres en liderazgo y cultura ciudadana</p>
      </div>
    </div>
  </div>
</div>