<section id="cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1 class="display-4"><strong>Inclusión y Oportunidad</strong></h1>
        <h3>generando espacios para el desarrollo integral de las familias</h3>
      </div>
    </div>
  </div>
</section>